<a href="https://colab.research.google.com/github/Maxc123456789/Airtel_Script/blob/main/MovieDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd

# Load the dataset (update the file path as needed)
file_path = "/content/credits[1].csv"
df = pd.read_csv(file_path)

# Display basic information about the dataset
print(df.info())
print(df.head())  # Show the first few rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
None
                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [5]:
import ast

# Convert 'cast' and 'crew' from string to list of dictionaries
df["cast"] = df["cast"].apply(ast.literal_eval)
df["crew"] = df["crew"].apply(ast.literal_eval)

# Print the first row to verify the conversion
print(df.iloc[0])

cast    [{'cast_id': 14, 'character': 'Woody (voice)',...
crew    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
id                                                    862
Name: 0, dtype: object

In [6]:
# Add new columns for the number of cast and crew members
df["num_cast"] = df["cast"].apply(len)
df["num_crew"] = df["crew"].apply(len)

# Show basic statistics
print(df[["num_cast", "num_crew"]].describe())

           num_cast      num_crew
count  45476.000000  45476.000000
mean      12.368590     10.210089
std       12.086556     15.802163
min        0.000000      0.000000
25%        6.000000      2.000000
50%       10.000000      6.000000
75%       15.000000     12.000000
max      313.000000    435.000000

In [8]:
# Check for missing values
print(df.isnull().sum())

# Check for duplicate rows, excluding 'cast' and 'crew' columns
print("Duplicate Rows:", df[[col for col in df.columns if col not in ['cast', 'crew']]].duplicated().sum())

# Check for any inconsistent or extreme values in numerical columns
print(df.describe(exclude=['object'])) # Only include numerical columns

cast        0
crew        0
id          0
num_cast    0
num_crew    0
dtype: int64
Duplicate Rows: 44
                  id      num_cast      num_crew
count   45476.000000  45476.000000  45476.000000
mean   108345.997537     12.368590     10.210089
std    112443.796536     12.086556     15.802163
min         2.000000      0.000000      0.000000
25%     26443.250000      6.000000      2.000000
50%     60002.500000     10.000000      6.000000
75%    157302.000000     15.000000     12.000000
max    469172.000000    313.000000    435.000000

In [12]:
# Drop duplicate rows based on columns other than 'cast' and 'crew'
df = df.drop_duplicates(subset=[col for col in df.columns if col not in ['cast', 'crew']])
df

,cast,crew,id,num_cast,num_crew
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,13,106
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,26,16
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,7,4
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,10,10
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,12,7
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,3,9
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,11,6
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,15,5
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,5,2
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,0,1

In [13]:
# Save the cleaned dataset
df.to_csv("cleaned_credits.csv", index=False)

In [14]:
# Find the movie with the most cast members
max_cast_movie = df[df["num_cast"] == df["num_cast"].max()]
print("Movie with the Largest Cast:")
print(max_cast_movie)

Movie with the Largest Cast:
                                                  cast  \
925  [{'cast_id': 4, 'character': 'Phileas Fogg', '...

                                                  crew    id  num_cast  \
925  [{'credit_id': '52fe4373c3a36847f8055047', 'de...  2897       313

     num_crew
925        34

In [15]:
from collections import Counter

# Extract job roles from the crew column
all_jobs = [person["job"] for crew_list in df["crew"] for person in crew_list]
job_counts = Counter(all_jobs)

# Print the top 10 most common jobs
print("Top 10 Crew Jobs:", job_counts.most_common(10))

Top 10 Crew Jobs: [('Director', 48999), ('Producer', 43507), ('Writer', 30398), ('Screenplay', 25143), ('Editor', 23770), ('Director of Photography', 20640), ('Executive Producer', 18853), ('Original Music Composer', 15773), ('Casting', 12620), ('Art Direction', 11679)]

In [16]:
pip install matplotlib seaborn

Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.11/dist-packages (from seaborn) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import ast
from collections import Counter